.main_container{
    width: 100vw;
    height: 100vh;
    padding: 20px;
    padding-top: 100px;
}
.sub_container{
    max-width: 380px;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
}